@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's projects.</p>

<p>1. Project </p>
<p>2. Project</p>
<p>3. Project </p>
<p>4. Project</p>
<p>5. Project</p>
